<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/css/product.css">
</head>
<%- include("partials/header", { pageTitle : "shop" }) %>
<div class="container">
  <h1>Product List</h1>
  <% if (products.length> 0) { %>
  <div class="product-list">
    <% products.forEach(function(product){ %>
    <div class="product-item">
      <img src="<%= product.imageUrl %>" alt="<%= product.productName %>" class="product-image">
      <div class="product-info">
        <h2 class="product-name">
          <%= product.productName %>
        </h2>
        <p class="product-price">
          $ <%= product.productPrice %>
        </p>
        <p class="product-description">
          <%= product.productDescription %>
        </p>
        <a href="#" class="buy-now">Buy Now</a>
      </div>
    </div>
    <%});%>
  </div>
  <% } else { %>
  <h2> No Product Avaiable!</h2>
  <% } %>
</div>
</body>
</html>